/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main_font: "Inter-Variable";
    --accent_font: "PressStart2P";
    --font_regular: 400;
    --font_bold: 700;
    --bg_color: #fff;
    --accent_color: #000;
    --background_light: #e7e7e7;
    --background_dark: #007f0c;
    --stripe_light: #d3d3d3;
    --stripe_dark: #000;
    --text_fw: 400;
    --title_fw: 700;
    --heart_main: #ff0000;
    --text-stroke: #fff;
    --text_button: #fff;
    --text_button_light: #fff;
    --text_button: var(--text_button_light);
    --text_button_dark: #00cc14;
}